@import url('https://fonts.googleapis.com/css?family=Quicksand');
$input-border-color: white;
$link: #48b557;
$tag-background-color:rgba(94, 207, 109,0.8);
$tag-color:#ffffff;
$table-row-hover-background-color:rgba(72, 181, 87,0.15);
$table-striped-row-even-hover-background-color:rgba(72, 181, 87,0.15);
$family-sans-serif: 'Quicksand', sans-serif;
@import 'node_modules/bulma/bulma';
@import 'scss/layout/_all';
@import 'scss/elements/_all';
