
$grayDash: #fafafa;
$grayFont: #4b4c4f;
$greenFont: #48b557;
.sidebar{
  background-color: $grayDash;
  min-height: 101.9vh;
  height: 100%;
  .sidebar-header{
    padding: 7%;
    width: 12vw;
    text-align:left;
    font-size: calc(0.5em + 0.7vw); 
  }
  .sidebar-body{
    
    .item{
      padding: 5%;
      a:hover{
        color: $greenFont !important;
      }
      a{
        font-size: 16px;
        text-decoration: none;
        color: $grayFont;
        i{
          margin-left: 5%;
          margin-right: 5%;
          font-size: 24px;
        }
       } 
      }
    .active{     
      border-left: 5px solid $greenFont;
     a{
       font-weight:bold;
       font-size: 20px !important;
       text-decoration: none;
       color: $greenFont !important;
       i{
        margin-left: 5%;
        margin-right: 5%;
        font-size: 28px !important;
       }
      }
    }
    
  }
}
.contact{
  font-size: 34px;
}