/****Form´s css configuration*****/

.box.box-form {
	max-width: 68%;
	background-color: #fafafa;
	box-shadow: none;
	border-radius: 0;
	padding: 40px;
	padding-top: 60px;
	padding-bottom:60px; 
}
 #register-text {
 	margin-left: 15px;
 	font-size: 35px;
 	margin-bottom: 45px;
 	color: #4b4c4f;
}
 .field-body.field-body-form {
	margin: 15px;
}
.input.form-input {
	background-color: #fafafa;
	border-color: #48b557;
	border-bottom-width: 2px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-radius: 0;
	box-shadow: none;
	max-width: 100%;
}
.button.button-form {
	width: 45%;
	margin: 15px;
	margin-top: 30px;
	background-color: #fafafa;
	border-color: #48b557;
	border-width: 1px;
	color: #4b4c4f;
}
.button.button-form:hover {
	border-color: #4b4c4f;
	background-color: #bdbdbd;
	color: #4b4c4f;
	border:0;
}