.cards-department{
    width: 100%;
    min-height: 30vh;
    height: 60%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    .cards-department-header{
      padding-top: 40px;
      height: 55%;
      display:flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .circles{
        border-radius:50%;
        height: 100%;
        width: 50%;
        background: rgb(252, 207, 180);
        font-size: 2em;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #AF6F49;
      }
      .items{
        position:relative;
        padding-top:20px;
        display:inline-block;
    }
    .notify-badges{
        position: absolute;
        top:-23px;
        background:rgb(176, 248, 82);
        text-align: center;
        border-radius: 50%;
        color:white;
        min-width: 1.2vw;
        min-height: 1.2vw;
        box-shadow: 2px 2px 2px rgba(107,146,111,0.5);
    }
    .contacts{
        font-size: 320%;
    }
    }
    .cards-department-body{
        padding-top: 20px;
        h3{
          font-size: 20px;
        }
        
    }
  }
  .cards-department:hover{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(145, 134, 246, 0.836);
  }