.card-department{
  width: 100%;
  min-height: 40vh;
  height: 60%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .card-department-header{
    padding-top: 40px;
    height: 60%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .circle{
      border-radius:50%;
      height: 100%;
      width: 50%;
      background: rgb(252, 207, 180);
      font-size: 2em;
      display:flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #AF6F49;
    }
  }
  .card-department-body{
      padding-top: 20px;
      h3{
        font-size: 20px;
      }
  }
}
.card-department:hover{
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(145, 134, 246, 0.836);
}