#login-box{
    margin-top:5%;
    box-shadow: 0 8px 14px rgba(10, 10, 10, 0.1), 0 0 0 -0.5px rgba(10, 10, 10, 0.1); 
    .button-login{
	    background-color: #4893b5;
	    border-width: 1px;
        color: #4b4c4f;
        margin-top:7%;
    }
    p{
        margin-bottom: 9%;
    }
    hr{
        border:2px solid #4893b5;
        width: 7%;
        margin-bottom: 1%;
        border-radius:10px;
    }
    input{
        border:1px solid #4893b5;
    }
}